<section class="timeline">
  
    <div class="container px-4 py-0">
        <h2 class="display-5"><span>Timeline</span></h2>
        <div class="row text-center justify-content-center mb-5">
            
        <div class="col-12 text-center justify-content-center">
            <p class="h4 mb-0 mb-lg-0">Before we started, our founding lawyer worked in the FMCG
                industry.
            </p>
            <p class="h4 mb-0 mb-lg-0"> At work, there
                was a constant need to have sensitive documents
                delivered fast and secure within time-bound systems.</p>
            <p class="h4 mb-0 mb-lg-0">In March 2019, Byke It deliveries was founded.</p>
        </div>

    </div>
</div>


</section>

