<section class="our-team">
    <div class="container px-4 py-0">

        <div class="row align-items-center justify-content-between mt-5 my-lg-5 pt-5">
            <div class="col-lg-5 mb-3 mb-lg-5">
                <h2 class="display-5 pb-2"><span>Our team</span></h2>
                <p class="lead">We are a vibrant team made up of the Management, a Customer Service team and Riders who work hand in hand to ensure
                    that all deliveries
                    are done in time.</p>

            </div>

        </div>


    </div>


</section>