<section class="who-we-are">
    <div class="container px-4 py-0">
        <h2 class="display-5"><span>Who we are</span></h2>

    <div class="row align-items-center justify-content-between">
        <div class="col-lg-6 mt-5 order-2 order-lg-1"><img class="img-fluid mx-auto d-block"
                src="images/about/who-we-are.jpg"
                alt=""></div>
        <div class="col-lg-5 order-1 order-lg-2">
                <p class="h3 text-gray-sof">A business that enables people and businesses move packages and run
                    errands in Nairobi without the hassle of traffic, long queues, etc.</p>

        </div>
    </div>
    </div>
</section>


