<section class="our-team">
    <div class="container px-4 py-0">

        <div class="row align-items-center justify-content-between mt-5 my-lg-5 pt-5">
            <div class="col-lg-5 mb-3 mb-lg-5">
                <h2 class="display-5 pb-2"><span>Our team</span></h2>
                <p class="lead">We are a young, vibrant team of 12.</p>
                <p class="lead">The company is headed by the Managing Director, who is in charge of
                    operations.</p>
                <p class="lead"> Under her, there are: 1
                    customer service assistant, 1 marketing assistant and 8 riders who work hand in hand to ensure
                    that no delivery
                    is done out of time.</p>

            </div>

        </div>


    </div>


</section>