<section>
    <div class="container">
        <div class="row align-items-center justify-content-center mb-1 mt-2 mb-md-2 text-center">
            <div class="row align-items-center justify-content-between mb-5 pt-2 mb-lg-3 text-center">
                <div class="col-sm-4 px-sm-4 pb-5">
                    <img src="images/about/mission.svg" class="img-fluid">
                    <h5 class="display-6">Mission</h5>
                    <p class="text-gray-soft">To enable businesses
                        complete transactions
                        through delivery of mail and
                        packages</p>
                </div>
                <div class="col-sm-4 px-sm-4 pb-5">
                    <img src="images/about/qualities.svg" class="img-fluid">
                    <h5 class="display-6">Values</h5>
                    <p class="text-gray-soft">Innovation, Integrity & Professionalism</p>
                </div>
                <div class="col-sm-4 px-sm-4 pb-5">
                    <img src="images/about/vision.svg" class="img-fluid">

                    <h5 class="display-6">Vision</h5>
                    <p class="text-gray-soft">To connect people
                        through seamless delivery of
                        packages.</p>
                </div>
            </div>
        </div>
    </div>

</section>