<section class="timeline">
  
    <div class="container px-4 py-0">
        <h2 class="display-5"><span>Timeline</span></h2>
        <div class="row text-center justify-content-center mb-5">
            
        <div class="col-12 text-center justify-content-center">
            <p class="h4 mb-0 mb-lg-0">Before we started, our founder who was working in the FMCG
                industry noticed</p> <p class="h4 mb-0 mb-lg-0">that there was a constant demand for fast and secure delivery services for sensitive and time-bound documents.
            </p>
            <p class="h4 mb-0 mb-lg-0">As a result Byke It was founded in March 2019 to fill that delivery niche.</p>
            <p class="h4 mb-0 mb-lg-0">To date, we continue to provide bespoke services to our esteemed clients.</p>
        </div>

    </div>
</div>


</section>