<section class="footer">
  
  <div class="container py-5">
  <div class="row py-5">
    
    <div class="col-12 col-md">
      <img class="mb-2" src="images/logos/BykeItLogo-80.png" alt="Byke It Deliveries">
     
    </div>
    <div class="col-6 col-md">
      <h6>Services</h6>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Within the hour deliveries</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Scheduled deliveries</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Mail Management</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
      <h6>Company</h6>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">About Us</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Contact</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Our Team</a></li>

      </ul>
    </div>
    <div class="col-6 col-md">
      <h6>Contacts</h6>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-geo-alt-fill"></i> Room 501, 5th Floor Suraj Plaza, Limuru Road, Nairobi</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-telephone-fill"></i> 0717925842, 0705719718</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><i class="bi bi-envelope-open"></i> Byke Itdeliveries@gmail.com</a></li>
       
      </ul>
    </div>
  </div>
  <footer class="pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 Byke It Deliveries</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>

</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChngF-bpwk14iMjIUFITtv9EuTB13GhHc&libraries=places&callback=initMap&channel=GMPSB_addressselection_v1_cABC" async defer></script>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/popper.js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/typed.js/typed.min.js"></script>
  <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
  <script src="js/main.min.js"></script>


  
