<section class="footer">

  <div class="container">
    <div class="row py-5">

      <div class="col-12 col-md">
        <img class="mb-2" src="images/logos/BykeItLogo-80.png" alt="Byke It Deliveries">

      </div>

      <div class="col-12 col-md">
        <h6>Company</h6>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="services.html"> <i
                class="fas fa-arrow-right"></i> Our Services</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="about.html"> <i
                class="fas fa-arrow-right"></i> About Us</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="contact.html"> <i
                class="fas fa-arrow-right"></i> Contact</a></li>
        </ul>
      </div>
      <div class="col-12 col-md">
        <h6>Contacts</h6>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><i class="fas fa-map-marker-alt"></i>
              Room 501, 5th Floor Suraj Plaza, Limuru Road, Nairobi</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="tel: +254717925842"><i
                class="fas fa-phone-alt"></i> +254 717925842</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="tel: +254705719718"><i
                class="fas fa-phone-alt"></i> +254 705719718</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#"><i class="far fa-envelope"></i>
              BykeItdeliveries@gmail.com</a></li>

        </ul>
      </div>
    </div>
    <footer class="pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2021 Byke It Deliveries</p>
    </footer>
  </div>

</section>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChngF-bpwk14iMjIUFITtv9EuTB13GhHc&libraries=places&callback=initMap&channel=GMPSB_addressselection_v1_cABC"
  async defer></script>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper.js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/typed.js/typed.min.js"></script>

<script src="js/main.min.js"></script>