
<!-- Tabs -->
<section id="tabs" class="tabs shape">
    <div class="container">
        <h2 class="section-title h1">Our Services</h2>
        <div class="row">
            <div class="col-xs-12 ">

                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link lh-1 active" id="packages-tab" data-bs-toggle="tab"
                            data-bs-target="#packages" type="button" role="tab" aria-controls="packages"
                            aria-selected="true">On Demand Package Dispatch & Collection</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link lh-1" id="mail-tab" data-bs-toggle="tab" data-bs-target="#mail" type="button"
                            role="tab" aria-controls="mail" aria-selected="false">Mail Management</button>
                    </li>

                </ul>
                <div class="tab-content px-sm-0" id="myTabContent">
                    <div class="tab-pane fade show active" id="packages" role="tabpanel" aria-labelledby="packages-tab">
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="card border-0">
                                    <div class="card-body p-5">
                                        <div class="row no-gutter">
                                            <div class="col-lg-7">
                                                <div class="p-5">
                                                    <h4 class="lh-1 mb-5">Sending or Recieving Packages?</h4>
                                                    <p class="lead">
                                                        1.
                                                        Within the hour deliveries: Our rider picks it up within 30
                                                        minutes and has it at the drop off location within 30 minutes.</p>
                                                    <p class="lead">
                                                        2.
                                                        Scheduled deliveries: Dispatch at a scheduled
                                                        time of your choice.</p>
                
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-5 p-0 d-none d-lg-inline-block">
                                                <div class="img-block img-block-1 rounded-right">
                                                    <div class="overlay rounded-right"></div>
                                                </div>
                                            </div>
                                        </div>
                    
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                    
                    
                                <!-- end row -->
                    
                            </div>
                            <!-- end col -->
                        </div>
              

                    </div>
                    <div class="tab-pane fade" id="mail" role="tabpanel" aria-labelledby="mail-tab">
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="card border-0">
                                    <div class="card-body p-5">
                                        <div class="row no-gutter">
                                            <div class="col-lg-7">
                                                <div class="p-5">
                                                    <h4 class="lh-1 mb-5">Quick Mail Services</h4>
                                                    <p class="lead">
                                                        1.
                                                        We pick up and drop off documents at designated points.</p>
                                                    <p class="lead">
                                                        2.
                                                        We ensure that we have a signed record that the documents were picked up and
                                                        dropped off
                                                        as
                                                        instructed, for accountability purposes.</p>
                
                                                </div>
                                            </div>
                    
                                            <div class="col-lg-5 p-0 d-none d-lg-inline-block">
                                                <div class="img-block img-block-2 rounded-right">
                                                    <div class="overlay rounded-right"></div>
                                                </div>
                                            </div>
                                        </div>
                    
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                    
                    
                                <!-- end row -->
                    
                            </div>
                            <!-- end col -->
                        </div>
                     
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>
<!-- ./Tabs -->