<!--Section: Contact v.1-->
<section class="request-delivery pb-5" id="request-delivery">
    <div class="row text-center justify-content-center mb-5">

        <h2 class="display-5"><span>Request Delivery</span></h2>

    </div>


    <div class="row">

        <!--Grid column-->
        <div class="col-lg-8 mb-4">
<div class="card"><div class="card-body">
            <!--Form with header-->

            <!--Header-->

            <form id="delivery-form" name="deliveryForm" onsubmit="generateURL()" method="get" needs-validation>

                <div class="row g-3">

                    <div class="col-12">
                        <label for="pickup-point" class="form-label"><i class="far fa-dot-circle"></i>
                            Pickup Point (Search Location in
                            Nairobi)*</label>

                        <input type="text" class="form-control" id="pick-address" name="pick-address" required
                            autocomplete="off" />


                    </div>

                    <div class="col-12">
                        <label for="drop-off-point" class="form-label"><i class="fas fa-map-marker-alt"></i>
                            Drop-off Point (Search Location in
                            Nairobi)*</label>

                        <input type="text" class="form-control" id="ship-address" name="ship-address" required
                            autocomplete="off" />


                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div id="mode-selector" hidden="true">
                                <input id="changemode-walking" type="radio" value="WALKING">
                                <input id="changemode-transit" type="radio" value="TRANSIT">
                                <input id="changemode-driving" type="radio" value="DRIVING" checked>
                            </div>
                            <div id="total"></div>
                            <div id="map">
                                <h5 style="text-align:center; margin-top: 70px;">Loading
                                    locations...Please wait</h5>
                            </div>
                            <div>
                            <input style=" width:100%;  border: none !important;"  id="distance" class="h3" name="distance" value=""
                                placeholder="Please enter location to see cost" readonly required><br>
                            </div>
                            <input style="color:#4422bf; width:100%;  border: none !important;" id="cost_B" name="CostB" placeholder="" value="" readonly required>
                            <a style="text-align: center;" href="javascript:window.location.reload(true)"
                                hidden=""><span>Reload
                                    Locations</span></a>
                           
                            <div>
                                <input id="no_selection" name="
                                No_selection" value="" placeholder="Bicycle Or Motorbike" readonly required hidden="">
                            </div>
                            <div>
                                <input id="location_1" name="Pickup_address" value=""
                                    placeholder="Enter location in the map" readonly required hidden="">
                            </div>
                            <div>
                                <input id="location_2" name="Delivery_address" value="" type="text"
                                    placeholder="Enter location in the map" readonly required hidden="">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <label for="sender-name" class="form-label">Sender Name</label>
                        <input type="text" class="form-control" id="sender-name" placeholder="Sender Name" value=""
                            required>
            
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <label for="sender-phone-number" class="form-label">Sender Phone Number</label>
                        <input type="text" class="form-control" id="sender-contact" placeholder="+254701234567" value=""
                            required>
                       
                    </div>


                    <div class="col-lg-6 col-md-12">
                        <label for="receiver-name" class="form-label">Receiver Name</label>
                        <input type="text" class="form-control" id="receiver-name" placeholder="Receiver Name" value=""
                            required>
                        
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <label for="receiver-phone-number" class="form-label">Receiver Phone Number</label>
                        <input type="text" class="form-control" id="receiver-contact" placeholder="+254701234567"
                            value="" required>
                      
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="message">Special Instructions</label>
                            <textarea class="form-control" id="instructions" rows="3"
                                placeholder="Any special instructions?"></textarea>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" required> I accept the terms and
                                conditions
                                of service
                            </label>
                        </div>
                    </div>

                    <div class="send">
                        <input type="submit" value="Request via WhatsApp" class="btn btn-whatsapp">
                    </div>

                </div>


            </form>

        </div></div>
            <!--Form with header-->

        </div>
        <!--Grid column-->
        <div class="col-lg-4 mb-4">
            <div class="container px-4 py-0">
                <h2 class="display-5">Call to order</h2>
                <div class="col-12 text-center justify-content-center">
                 
                  <div class="py-5">
          
                        <a href="tel: +254705719718" class="btn btn-lg btn-primary mb-3 me-md-3" target="_blank">+254 705719718</a>
              
                   
                  </div>
                </div>
        </div>



    </div>

</section>
<!--Section: Contact v.1-->