<!-- feature -->
<section class="feature">
    <div class="container px-4 py-0">
        <h2 class="display-5 pb-2 border-bottom">We have it all</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div>
              <h2><i class="bi bi-speedometer"></i> Quick</h2>
                 <p class="lead">Our riders are trained professionally to be quick and drive like pros with safety, and attention to detail.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h2><i class="bi bi-file-lock"></i> Private & Secure</h2>
                 <p class="lead">You package is safe, secure and private with us.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h2><i class="bi bi-shield-check"></i> Reliable</h2>
                 <p class="lead">We are sufficiently experienced safe drivers. You can be certain your request will be acted on as instructed </p>
            </div>
          </div>
        </div>
      </div>
</section>


<!-- ./feature -->
