<section class="how-it-works">
    <div class="container px-4 py-0">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-xl-6 col-lg-8">
                <h2 class="display-5 pb-2 border-bottom">How it works</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="steps">
                    <div class="step">
                        <div class="step-content" data-toggle="popover" data-trigger="hover" data-placement="top"
                            title="Prepare" data-content="Prepare your package and secure it shut."
                            data-original-title="Prepare">
                            <div class="inner-circle"></div>
                            <p class="h4 mt-3 mb-1">Prepare</p>
                            <p class="h6 mb-0 mb-lg-0">Prepare your package and secure it shut.</p>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-content" data-toggle="popover" data-trigger="hover" data-placement="top"
                            title="Request service" data-content="To deliver your package/mail."
                            data-original-title="Request service">
                            <div class="inner-circle"></div>
                            <p class="h4 mt-3 mb-1">Request service</p>
                            <p class="h6 mb-0 mb-lg-0">To deliver your package/mail.</p>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-content" data-toggle="popover" data-trigger="hover" data-placement="top"
                            title="Pickup" data-content="Byke It rider picks package/mail at pickup location."
                            data-original-title="Pickup">
                            <div class="inner-circle"></div>
                            <p class="h4 mt-3 mb-1">Pickup</p>
                            <p class="h6 mb-0 mb-lg-0">Byke It rider picks package/mail at pickup location.
                            </p>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-content" data-toggle="popover" data-trigger="hover" data-placement="top"
                            title="Delivery" data-content="Byke It rider delivers to the drop off point/address."
                            data-original-title="Delivery">
                            <div class="inner-circle"></div>
                            <p class="h4 mt-3 mb-1">Delivery</p>
                            <p class="h6 mb-0 mb-lg-0">Byke It rider delivers to the drop off point/address.
                            </p>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step-content" data-toggle="popover" data-trigger="hover" data-placement="top"
                            title="Billing & Payment" data-content="Either at the pickup address or drop off point."
                            data-original-title="Billing & Payment">
                            <div class="inner-circle"></div>
                            <p class="h4 mt-3 mb-1">Billing & Payment</p>
                            <p class="h6 mb-0 mb-lg-0">Either at the pickup address or drop off point.</p>
                        </div>
                    </div>
                    <div class="step mb-0">
                        <div class="step-content" data-toggle="popover" data-trigger="hover" data-placement="top"
                            title="Repeat" data-content="Over and over again."
                            data-original-title="Repeat">
                            <div class="inner-circle"></div>
                            <p class="h4 mt-3 mb-1">Repeat</p>
                            <p class="h6 mb-0 mb-lg-0">Over and over again.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
