    <!-- feature -->
    <section class="feature">

      <div class="container px-4 py-0">
        <h2 class="display-5"><span>We have it all</span></h2>
    
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div>
              <h4 class="display-6"><i class="fas fa-shipping-fast"></i> Quick</h4>
              <p>Our riders are professionally trained to drive like pros: Quickly, Safely, and with Attention to detail.
              </p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h4 class="display-6"><i class="fas fa-key"></i> Private & Secure</h4>
              <p>Your details remain private, and your package is safe and secure with us.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div>
              <h4 class="display-6"><i class="fas fa-shield-alt"></i> Reliable</h4>
              <p>You can be certain your request will be acted on as
                instructed </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- ./feature -->