<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center bd-navbar">
    <div class="container">
        <a href="index.html" class="navbar-brand d-flex w-50 me-auto"><img src="images/logos/BykeItLogo-80.png"
                alt="Byke It Deliveries"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav w-100 justify-content-center">

                <li class="nav-item">
                    <a class="nav-link px-2" href="services.html">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2" href="contact.html">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                <li>
                    <a class="nav-link btn btn-social btn-whatsapp display-6" href="#" target="_blank"
                        onclick="whatsappURL()"> <i class="fab fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a class="nav-link btn btn-social btn-twitter display-6" href="tel: +254705719718" target="_blank">
                        <i class="fas fa-phone-alt"></i>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>