<section class="service-1">

  <div class="container px-4 py-0">
  

        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 mt-5 order-2 order-lg-1"><img class="img-fluid mx-auto d-block"
                    src="images/services/bike.svg" alt=""></div>
            <div class="col-lg-7 order-1 order-lg-2">
                <h2 class="display-6">1.<span> Package Dispatch & Collection</span></h2>
  
                <p class="lead">This service is tailored for retail businesses who in order to
                    complete the transaction must deliver the purchased
                    item to the client. It is also ideal for businesses that send out season’s packages and PR
                    packages.</p>
                <p class="lead">
                    We offer 2 variations of the service</p>
                
                    <p>a). Within the hour deliveries: For food & beverage, medication, flowers and any other
                        products that
                        would be required urgently.</p>
                    <p>b).
                        Scheduled deliveries: is for clients that like to dispatch all their packages at once.
                        This is often at a scheduled
                        time mostly at the end of the day (for same day deliveries) or in the morning (for next
                        day deliveries).
                    </p>
              

            </div>

        </div>


    </div>
</section>