<section class="service-2">

    <div class="container px-4 py-0">
    
  
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 mt-5 order-2 order-lg-2"><img class="img-fluid mx-auto d-block"
                src="images/services/box.svg" alt=""></div>
        <div class="col-lg-7 order-1 order-lg-1">
                  <h2 class="display-6">2.<span> Mail Management</span></h2>
    
                  <p class="lead">Tailored for corporates that require mail delivered or picked up.  We base this service on the fact that most important transactions often require the exchange
                    of hard copy
                    documents;</p>
                  <p class="lead">
                    e.g a bank opening exercise will eventually require the account owner to
                    collect their cheque book
                    from the bank or a contract negotiation will lead to the exchange of the contractual
                    document for execution.
                    These are just 2 of the many business transactions that exist.</p>
                  
                      <p>a). We create a system that enables our clients trace the chain of custody of their mail and
                        ensure accurate and
                        timely deliveries.</p>
                      <p>b).
                        We pick up and drop off documents at designated places and where need be, our riders
                        will wait for return
                        copies. We ensure that we have a signed record that the documents were picked up and
                        dropped off as
                        instructed, for accountability purposes.
                      </p>
                
  
              </div>
  
          </div>
  
  
      </div>
  </section>

